.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table {
    width: 60%;
    border: 1px solid rgba(0,0,0,0.1);
    margin: auto;
}

.header {
    font-weight: bold;
}

.row {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: repeat(4, 1fr) 100px;
    text-align: center;
}

.item {
    padding: 8px;
    text-align: center;
}

.titleContainer {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 3% auto;
}

.actionsContainer {
    display: flex;
    justify-content: space-evenly;
}

.action:hover {
    opacity: 0.5;
    cursor: pointer;
}